header {
  width: 100%;
  padding: 0;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffc2d1;
  height: 72px;
  padding: 0 120px;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

body {
  margin-top: 72px;
}

#nav_logo {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 32px;
}

.nav-item a {
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
}

.nav-item a:hover {
  color: #ff69b4;
  transform: scale(1.1);
}

.nav-item a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff69b4;
  transition: width 0.3s ease;
}

.nav-item a:hover::after {
  width: 100%;
}

/* Botão de menu */
#menu_toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #111;
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
  #navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }

  #menu_toggle {
    display: block;
  }

  #nav_list {
    display: none;
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 12px;
    background: #ffc2d1;
    padding: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
    z-index: 1000;
    box-sizing: border-box;
  }

  #nav_list.active {
    display: flex;
  }

  .nav-item a {
    font-size: 16px;
    padding: 8px 16px;
    text-align: left;
  }
}
